/* * {
    background-color: black;
    color: white;
} */

canvas {
    background-color: black;
    border: .2em solid white;
    display: block;
    margin: 1em auto;
}

main {
    text-align: center;
    display: block;
}


section > main {
    text-align: center;
    display: inline-block;
    margin: 1em auto;
    padding: 0;
}

footer {
    text-align: center;
    display: block;
    margin: 1em auto;
    padding: 0;
}

nav h4 {
    display: block;
    padding: .5em;
}

